.hero {
    display: flex;
    justify-content: flex-start; /* Align content to the start (left) */
    align-items: center;
    height: 80vh;
    background: url('/Users/xue/Documents/GitHub/personal_portfolio_website/portfolio/src/image/background.jpg') no-repeat center center/cover;
    color: #333;
    text-align: left;
    padding: 0 20px;
  }
  
  .hero-content {
    max-width: 600px;
    margin-left: 500px;
  }
  
  .hero p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #421e69;
  }
  
  .hero h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #666;
    margin: 10px 0;
  }
  
  .hero .description {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #666;
  }
  
  .btn-primary {
    background-color: #421e69;
    border: 1px solid #27033a;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: transparent;
    color: #421e69;
    border: 1px solid #27033a;
  }
  